<p><%= @question%></p>
<p><i>-You</i></p>

<% if @question == "I am going to work" %>
  <p>Great!</p>
<% elsif @question.end_with?("?") %>
  <p>Silly question, get dressed and go to work!</p>
<% else %>
  <p>I don't care, get dressed and go to work!</p>
<% end %>
<p><i>-Your coach</i></p>
